*{
    margin: 0px;
    padding: 0px;
}

header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("imgs/home.webp") no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    padding-top: 200px;
    overflow: hidden;
}

header .banner-text { width: 100%; }

header .social {
   margin: 50px 0;
   padding: 0;
   font-size: 75px;
   text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}

header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; } */

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: rgb(255, 255, 255);
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #bebdbd;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}

.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;
   text-align: center;
}

ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

ul#nav li a {

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
    text-decoration: none;
   text-align: left;
   color: rgb(218, 105, 0);

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 15px;
   text-align: center;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
   height: 100%;
   text-align: center;
   display: inline-block
}

#about .profile-pic {
   position: left;
   width: 240px;
   height: 240px;
   border-radius: 100%;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
   background: #fff;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#resume h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: left;
}

#resume h1 span {
   border-bottom: 2px solid #11ABB0;
   padding-bottom: 20px;
   text-align: right;
}

#resume h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
   text-align: left;
   padding-left: 300px;
}

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   padding-left: 75px;
   border-bottom: 1px solid #E8E8E8;
   text-align: center;
}

#resume .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
   text-align: left;
   padding-left: 300px;
}
#resume .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

#resume ul {
    padding-left: 325px;
    font: 15px/24px 'opensans-bold', sans-serif;
    text-align: left;
}

/* ------------------------------------------------------------------ */
/* e. Projects Section
/* ------------------------------------------------------------------ */

#projects {
   background: #ebeeee;
   padding-top: 90px;
   padding-bottom: 60px;
}
#projects h1 {
   font: 15px/24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #95A3A3;
}